
<!DOCTYPE html>
<html>
<head>
<style>
    h1{
        width:100px;
        border:2px solid black;
        float:left;
    }
    #flaot{
        width:300px;
        height:300px;
        float:right;
    }
    p{
        text-align:right;
    }
    #main{
        border:1px solid black;
        overflow: hidden;
    }
</style>
    <div id="main">
        <h1>My fan site</h1>
        <img id="flaot" alt="starhome" />
        <div id="paras">
        <p>Starhome Sprinter is a Flash animated Internet cartoon.................................................</p>
        <p>Most of the site's traffic comes from the United States...................................................................................................................................</p>
        <p>The cartoons are nominally centered on title character,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, ...</p>
        <p>Starhome's theme song says, "Everyperson! Everyperson!"</p>
            </div>
    </div>
</head>
<body>

</body>
</html>