<!DOCTYPE html>
<html>
<head>
    <style>
    p > span {
    float:right;
    width:200px;
    border:3px solid black;
    }
    #rightclear   {
        clear:both;
    }

    </style>
    <title></title>
</head>
<body>
<div>
    <p id="rightclear"><span>This explains some text which floats right side of the page</span> text shows in left side of the page............
    .....................................................................................................................
    .........................................................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,</p>
    <p>Next line because it is block element</p>
    <span>Inline element</span>
    <span>Inline element</span>
</div>
</body>
</html>