<!DOCTYPE html>
<html>
<head>
    <table border="1" width="600px" valign="top">
        <tr>
            <td rowspan = "3">SAMSUNG</td>
            <td>GALAXY S2</td>
        </tr>
        <tr>
            <td>GALAXY S3</td>
        </tr>
        <tr>
            <td>GALAXY S4
            <colgroup>
                <col>S4252</col><col>S4654</col>
            </colgroup>
            </td>
        </tr>
        Row span example - Galaxy mobile types
    </table>

    <table border="1" width="600px" align="right">
        <tr>
            <td colspan="3">This table shows mobile company names</td>
        </tr>
        <tr><td>SAMSUNG</td><td>NOKIA</td><td>Apple</td></tr>
        <tr><td>LG</td><td>SONY</td><td>ERICSSON</td></tr>
    </table>

</head>
<body>

</body>
</html>