<!DOCTYPE html>
<html>
<head>
<table width="100%">
    <!---tr>
    <td width="50px"> </td>
    <th>Tavle- Header - For Layout</th>
    <td width="100px"> </td>
    </tr--->
    <tr align="center">
        <td>&nbsp</td>
        <td>
        <ul>
            <a href="afa">&nbsp
                About
            </a>
            <a href="help">&nbsp
                Help
            </a>
            <a href=links">&nbsp
                Links
            </a>

        </ul>
        </td>
    </tr>
    <tr align="center">
        <td>
        <ul>
            <li>
                About
            </li>
            <li>
                Help
            </li>
            <li>
                Links
            </li>

        </ul>
        </td>
        <td><h1 align="center">Table Header - For layout </h1>
            <hr width="40%" align="center">
            <p>This is explanation of paragraphp................................................................., </p></p></td>
        <td width="100px"> &nbsp</td>
    </tr>
    <tr align="center">
        <td>&nbsp</td>
        <td>
            <ul>
            <a href="afa">&nbsp
                About
            </a>
            <a href="help">&nbsp
                Help
            </a>
            <a href=links">&nbsp
                Links
            </a>

        </ul>
        </td>
    </tr>
</table>
</head>
<body>

</body>
</html>